@inherits LayoutComponentBase
@layout ThemeLayout

<MudPaper Height="100vh" Style="overflow:hidden; position:relative;">
    <MudDrawerContainer Class="mud-height-full">
        <MudDrawer @bind-Open="@_isOpen" Elevation="0" Variant="@DrawerVariant.Persistent">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6">Quizlet</MudText>
            </MudDrawerHeader>
            <NavMenu />
        </MudDrawer>

        <MudAppBar>
            <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.Menu" OnClick="@((e) => ToggleDrawer())"
                Class="p-0" />
        </MudAppBar>

        <MudMainContent style="height: 100%">
            <div style="height: 100%" class="overflow-y-scroll pa-4">
                @Body
            </div>
        </MudMainContent>


    </MudDrawerContainer>
</MudPaper>



@code {
    private bool _isOpen = false;

    void ToggleDrawer()
    {
        _isOpen = !_isOpen;
    }
}